/.idea
/node_modules
/public/hot
/public/page-cache
/public/storage
/storage/*.key
/vendor
_ide_helper.php
_ide_helper_models.php
.env
.env.backup
.php_cs.cache
.php-cs-fixer.cache
.phpstorm.meta.php
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
ray.php
yarn-error.log
